body {
   font-family: Nunito;
}

#header-wrapper {
    display: flex;
    margin-bottom: 10px;
}

#hero-text-wrapper {
    width: 100%;
    text-align: center;
}

#hero-text {
    padding-top: 20px;
}

#logo-img-wrapper {
    width: 150px;
    padding-top: 5px;
}

#logo-img {
    border: 1px solid black;  
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-inline-start: 7px;
    margin-block: 0;
    height: 50px;
    background-color:  #eeeee4;
    margin-bottom: 15px;
}

.navbar-li {
    display: inline;
    float: left;
    padding: 6px;
    border: 1px solid black;
    width: 130px;
    text-align: center;
    background-color: #0055a5;
    list-style-type: none;
    margin-right: 2px;
}

.right { /*not working*/
   display: flex;
   float: right;
   align-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
}

#web_link {
    color: #063970;
}

#web_link:hover {
    color: #eab676;
}

#hero-image {
    background-image: url("./Images/Office.webp");
    background-size: cover;
    height: 800px;
    background-position: center;
    margin-top: 20px;
    background-repeat:no-repeat;
    }

li:hover, li:hover a {
    background-color: #ffffff;
    color: #0055a5;
}
    
.bold {
    font-weight: bold;
}

ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    background-color: #0055a5;
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #eab676;
    
}

p {
    margin-top: 30px;
}

.no_top_margin {
    margin: 20px;
}

.top_section {
    display: flex;
    justify-content: center;
}

.bottom_section {
   display: flex;
   flex-direction: row;
   margin-top: 12px;
   justify-content: center;

}

.services  {
    list-style: none;
    
}

.sub_point {
    text-align: center;
    text-overflow: clip;
    padding-bottom: 10px;
    justify-content: center;
}

.cacoon {
    border: 2px solid #063970;
    border-radius: 100%;
    border-bottom-left-radius: 600% 900%;
    border-bottom-right-radius: 600% 900%;
    border-top-right-radius: 600% 250%;
    border-top-left-radius: 600% 250%;
    width: 300px;
    height: 300px;
    background-color: #eeeee4;
    color: #063970;
    margin: 10px;
}

.cacoon_small {
    border: 2px solid #063970;
    border-radius: 100%;
    border-bottom-left-radius: 600% 900%;
    border-bottom-right-radius: 600% 900%;
    border-top-right-radius: 600% 250%;
    border-top-left-radius: 600% 250%;
    width: 250px;
    height: 250px;
    background-color: #eeeee4;
    color: #063970;
    margin: 10px;
}
footer {
    color: gray;
    font-size: small;
    text-align: center;
    margin-top: 60px;

}

@media(prefers-reduced-motion: no-preference)  {
    * {scroll-behavior: smooth;
    }
}


@media only screen and (max-width:720px) {
    .top_section, .bottom_section {
      grid-template-columns: 1fr;
    }
  }
  