body {
   font-family: Nunito;
}

#header-wrapper {
    display: flex;
    margin-bottom: 10px;
}

#hero-text-wrapper {
    width: 100%;
    text-align: center;
}

#logo-img-wrapper {
    width: 120px;
    padding-top: 5px;
}
#navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-inline-start: 7px;
    margin-block: 0;
    height: 50px;
    background-color:  #eeeee4;
    margin-bottom: 15px;
}

.navbar-li {
    display: inline;
    float: left;
    padding: 6px;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    background-color: #0055a5;
    list-style-type: none;
    margin-right: 2px;
}

.right { /*not working*/
   display: flex;
   float: right;
   align-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
}

#logo-img {
    border: 1px solid black;  
}
   
#hero-image {
    background-image: url("./Images/Office.webp");
    background-size: cover;
    height: 800px;
    background-position: center;
    margin-top: 20px;
    background-repeat:no-repeat;
    }

li:hover, li:hover a {
    background-color: #ffffff;
    color: #0055a5;
}
    
.bold {
    font-weight: bold;
}

h2 {
    text-align: center;;
    background-color: #0055a5;
    color: white;
}

.services  {
  //  list-style-type: none;
}

.sub_point {
   //flex-direction: column;
  //  flex-wrap: wrap;
   // width: 250px;
  //  height: 100px;
  //  align-content: center;
  //  text-align: center;
 // margin: 10px;
}*/

.erp_consulting {
    border: 2px solid black;
 //   width: 300px;
 //   height: 300px;
    background-color: pink;
}